

.contact-container {
   display: flex;
   flex-direction: row;
}

.contact-main-section {
   width: 80vw;
   background: linear-gradient(50deg, rgb(56, 0, 56, 0.8), rgb(100, 63, 0.8));
   color: white;
   min-height: 89vh;
}

h1{
   margin: 2rem 4rem 0rem 4rem;
   font-size: 9ch;
   text-transform: uppercase;
}

.contact-quote{
   margin: 0rem 8rem;
   font-size: 3ch;
   font-style: italic;
}

.contact-us-section{
   display: flex;
   flex-direction: row;
   border: 3px solid white;
   border-radius: 10px;
   margin: 2rem 4rem;
   
}

.first-part, .second-part{
   width: 50%;
   padding: 1rem;
}

.contact-us{
   font-size: 5ch;
   margin-bottom: 2rem;
}

.contact-us-text{
   padding-bottom: 1rem;
   font-size: 3ch;
}

.second-part{
   margin: 1rem;
}

.second-part input {
   outline: none;
}

.name-label{
   display: block;
   margin-bottom: 1rem;
   opacity: 70%;
   margin-left: 5rem;
}

.name-inputs{
   flex-direction: row;
   display: flex;
   gap: 3rem;
   margin-left: 5rem;
   margin-bottom: 1rem;
}

.emailInput{
   margin-left: 5rem;
   width: 10rem;
   height: 1.5rem;
}

.firstName{
   width: 8rem;
   height: 1.5rem;
}

.secondName{
   width: 8rem;
   height: 1.5rem;
}

.email-label{
   display: block;
   margin-bottom: 1rem;
   opacity: 70%;
   margin-left: 5rem;
}

.message-label{
   display: block;
   margin-top: 1rem;
   margin-bottom: 1rem;
   opacity: 70%;
   margin-left: 5rem;
}

.messageInput{
   gap: 3rem;
   margin-left: 5rem;
   margin-bottom: 1rem;
   height: 15rem;
   width: 25rem;
   outline: none;
   resize: none;
}

.sendbtn{
   margin: 0rem 0rem 1rem 40vw;
   background: transparent;
   color: white;
   font-size: 3ch;
   border: none;
   outline: 3px solid white;
   border-radius: 10px;
   cursor: pointer;
}
