.music-card-container{
    width: 20vw;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

.music-card {
    width: 20vw;
    height: 44.7vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 1rem; 
    box-sizing: border-box; 
    position: fixed;
}

.music-card{
    margin-left: auto;
}

.music-card .release{
    margin: 3rem;
}

.music-card .cover {
    width: 100%; 
    margin: -1rem 0rem 1rem 0rem;
}

.music-card .title {
    font-size: 3ch; 
}

.music-card .artist {
    margin: 0.25rem 0 1rem 0; 
    font-size: 1.5ch; 
    color: grey;
    text-decoration: none; 
    transition: color 0.2s; 
    cursor: pointer;
}

.music-card .artist:hover{
    color: white; 
    text-decoration: underline; 
}

.slider input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 15rem;
    height: 0.8rem;
    border-radius: 10px; 
    background: linear-gradient(90deg, purple, orange);
}

.slider input[type="range"]:active::-webkit-slider-thumb {
    background-color: grey;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3rem; 
    height: 1.3rem; 
    border-radius: 50%; 
    background: #E2E2E2; 
    cursor: pointer;
}

.counter {
    text-align: center;
    font-size: 1.7ch;
}


.currentVolume{
    text-align: center;
}

.play {
    text-align: center;
    margin: 1rem 0; 
    padding: 0.5rem 1rem;
    border-radius: 40%;
    cursor: pointer;
    border: none;
}

.play:hover {
    background: linear-gradient(90deg, purple, orange);
}

.volumebar-q input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 70%;
    border-radius: 40px;
    margin-left: 1.3rem;
}

.volumebar-q input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3rem; 
    height: 0.8rem; 
    border-radius: 100%; 
    cursor: pointer;
}

.volumeicon{
    cursor: pointer;
}

.volumeicon:hover{
    fill: white;
    transition: 1s ease;
}

.volumebar{
    margin: 0 0.5rem ;
}

.vb{
    display: flex;
    align-items: center;
}

.audio-btn {
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin: 3rem;
}


@media screen and (max-width: 1780px) {
    .music-card .release{
        font-size: 1.8ch;
        margin: 1rem 0rem 1.5rem ;
    }

    .music-card .cover{
        margin: 0.5rem;
    }

    .music-card .title{
        font-size: 3ch;
    }

    .music-card .artist{
        font-size: 2ch;
    }
}

@media screen and (max-width: 1680px) {
    .music-card .release{
        font-size: 1.5ch;
        margin: 0.3rem 0rem 1.5rem ;
    }

    .music-card .title{
        font-size: 2.5ch;
    }

    .music-card .artist{
        font-size: 1.5ch;
    }
}

@media screen and (max-width: 1500px) {
    .music-card .release{
        font-size: 1.3ch;
        margin: 0.3rem 0rem 1.5rem ;
    }

    .music-card .cover{
        margin: -1rem 0rem 0rem 0rem;
    }

    .music-card .title{
        font-size: 2.3ch;
    }

    .music-card .artist{
        font-size: 1.2ch;
    }

}