.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 11vh;
    text-align: center;
}

.navbar-first {
    width: 25vw;
    color: #dddddd;
}

.navbar-first img {
    height: 9vh;
}

.navbar-second {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-third {
    width: 20vw;
}

.navbar-second .link {
    color: #aeaeae;
    text-decoration: none;
    cursor: pointer;
}

.navbar-second .link:hover {
    color: #dddddd;
}

.navbar-third {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-third .search-bar {
    background-color: #292929;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin-left: 0.5rem;
}
