.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 11vh;
    text-align: center;
}

.navbar-first {
    width: 25vw;
    color: #dddddd;
}

.navbar-first img {
    height: 9vh;
}

.navbar-second {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-third {
    width: 20vw;
}

.navbar-second .link {
    color: #aeaeae;
    text-decoration: none;
    cursor: pointer;
}

.navbar-second .link:hover {
    color: #dddddd;
}

.navbar-third {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-third .search-bar {
    background-color: #292929;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin-left: 0.5rem;
}

.navbar-third .search-bar:focus-within{
    -moz-box-shadow: 0px 0px 15px rgb(255, 166, 0),
                    0px 0px 4px rgb(255, 140, 33),
                    0px 0px 6px rgb(255, 113, 52),
                    0px 0px 8px rgb(251, 87, 68),
                    0px 0px 15px rgb(241, 60, 82),
                    0px 0px 8px rgb(226, 31, 95),
                    0px 0px 8px rgb(207, 0, 107),
                    0px 0px 8px rgb(184, 0, 116),
                    0px 6px 15px rgb(158, 0, 124),
                    0px 0px 40px rgb(128, 0, 128);

    -webkit-box-shadow: 0px 0px 15px rgb(255, 166, 0),
                        0px 0px 4px rgb(255, 140, 33),
                        0px 0px 6px rgb(255, 113, 52),
                        0px 0px 8px rgb(251, 87, 68),
                        0px 0px 15px rgb(241, 60, 82),
                        0px 0px 8px rgb(226, 31, 95),
                        0px 0px 8px rgb(207, 0, 107),
                        0px 0px 8px rgb(184, 0, 116),
                        0px 6px 15px rgb(158, 0, 124),
                        0px 0px 40px rgb(128, 0, 128);
                        
    box-shadow: 0px 0px 15px rgb(255, 166, 0),
                0px 0px 4px rgb(255, 140, 33),
                0px 0px 6px rgb(255, 113, 52),
                0px 0px 8px rgb(251, 87, 68),
                0px 0px 15px rgb(241, 60, 82),
                0px 0px 8px rgb(226, 31, 95),
                0px 0px 8px rgb(207, 0, 107),
                0px 0px 8px rgb(184, 0, 116),
                0px 6px 15px rgb(158, 0, 124),
                0px 0px 40px rgb(128, 0, 128);
}


.csaevifyicon{
    cursor: pointer;
}