@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

.landing-page {
    height: 100vh;
    background-color: #E2E2E2;
    color:  white;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: "Alegreya", serif;
}

.main-section {
    width: 80vw;
}
 
