.music-card {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0c0c0c;
    position: relative; 
    padding-bottom: 50px; 
}

.music-card .cover {
    width: 10rem;
    margin: 3rem 0 2rem 0;
}
 
.music-card .title {
    margin: -1rem 0 0.3rem 0;
    font-size: 4ch;
}
 
.music-card .artist {
    margin: 0 0 0.75rem 0;
    font-size: 2ch;
}

.buttons-container {
    position: absolute; 
    bottom: 1rem; 
    width: 100%; 
}

/**/

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.slider input[type="range"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 15rem;
    height: 1rem;
    border-radius: 10px; 
    background: linear-gradient(90deg, purple, orange);
}

.slider input[type="range"]:active::-webkit-slider-thumb {
    background-color: #19747E;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 50%; 
    background: #E2E2E2; 
    cursor: pointer;
}

.counter {
    text-align: center;
    font-size: 1.5ch;
}

/**/

.volumebar-container{
    position: absolute;
    bottom: 8rem;
}

.volumebar input[type="range"] {
    cursor: pointer;
    width: 10rem;
}

.currentVolume{
    text-align: center;
}

.play {
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 40%;
    cursor: pointer;
    border: none;
}

.play:hover {
    background: linear-gradient(90deg, purple, orange);
}

.audio-btn {
    cursor: pointer;
}

.buttons {
    margin-top: 0vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}